.section {
  margin: 50px 0;
  padding: 20px;
  background-color: #2b3a5f;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.video-carousel{
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  }/* Permet le défilement horizontal */
 /* Transition entre les sections */
  section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  section.visible {
    opacity: 1;
    transform: translateY(0);
  }
.notif-badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  position: relative;
  top: -10px;
  left: -5px;
}